.header-component{
    width:100%;
    background-color:#3b5998;
    height: 13%;
    display: flex;
    flex-direction: column;
    z-index: 101;
}
.logo-company{
    width: 100%;
    height: 50%;
    width:30%;
    margin:auto;
    align-items: center;    
}